.Main_chat
  .Main_chat__group_info
    .Main_chat__group_info-name
      .Main_chat__group_info-name-group test
      .Main_chat__group_info-name-member Member : masa
    %a(href="#" class ="Main_chat__group_info-btn") Edit
  .Main_chat__messages
    .Main_chat__messages-list
      .Main_chat__messages-list-info
        .Main_chat__messages-list-info-name masa
        .Main_chat__messages-list-info-time 2020/05/27(wed) 12:28:02
      .Main_chat__messages-list-message こんにちは！
      .Main_chat__messages-list-info
        .Main_chat__messages-list-info-name masa
        .Main_chat__messages-list-info-time 2020/05/27(wed) 12:30:02
      .Main_chat__messages-list-message 二番目
      .Main_chat__messages-list-info
        .Main_chat__messages-list-info-name masa
        .Main_chat__messages-list-info-time 2020/05/27(wed) 13:42:02
      .Main_chat__messages-list-message 三番目
    .Main_chat__messages-form
      %form.Main_chat__messages-form-contents
        .Main_chat__messages-form-contents-left
          %input.Main_chat__messages-form-contents-left-text{placeholder: "type a message", type: "text"}
          %label.Main_chat__messages-form-contents-left-icon{for: "image"}
            = icon('fas', 'image')
            %input.Main_chat__messages-form-contents-left-icon-image_field{type: "file", id: "image"} 
        %input.Main_chat__messages-form-contents-right{type: "submit", value: "Send"}
      